@media (max-width:767px){
*{
 box-sizing: border-box;
     }
    body{
    background-color: #E5E5E5;;
 }
.container{
    background-color: #CF2B2B;
    width: 100%;
    height:92px;
    font-family: 'Righteous', cursive;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 3;
}    
.topo{
    margin-left: 20px;
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
}
.topo h1{
    width:50%;
    height: 50%;
    color: white;
    font-size: 44px;
}
.topo h2{
  width: 50%;
  height: 15%;  
  font-size: 18px;
  color: white;
}
.conteudo{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 80px 0;
    overflow-x: hidden;
    overflow-y: hidden;
}
.menu{
    width: 100%;
    height: 290px;
    margin-left: 20px;
    margin-top: 30px;
    font-family: 'Roboto', sans-serif;
}
.titulo-selecao h1{
font-family: 'Righteous', cursive;
width: 300px;
height: 25px;
font-size: 26px;
color:rgba(51, 51, 51, 1);
}
.opcoes{
    width: 100%;
    display: flex;
    justify-content: space-between;
    overflow-x: scroll;
}
.opcao{
    margin-top:17px;
    background-color: white;
    width: 170px;
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 9px;
    margin-right: 15px;
    box-shadow: 0 0 10px -4px rgba(0, 0, 0, 0.25);
    position: relative;
}
.margem{
    margin-left: 10px;
}
.opcao img{
    width: 140px;
    height: 90px;
    object-fit: cover;
    border-radius: 4px;
}
.opcao h1{
font-weight: 900;
font-size: 16px;
width: 140px;
height: 23px;
color: rgb(3, 3, 3);
margin-top: 8px;
}
.opcao h2{
width: 150px;
height: 40px;
margin-top: 3px;
color: rgba(166, 166, 166, 1);
font-weight: 300;
font-size: 15px;
}
.opcao p{
width: 66px;
height: 19px;
font-size: 16px;
color: rgb(19, 18, 18);
font-weight: 500;
}
.preco{
    display: flex;
}
.fechar{
    width: 100%;
    height:93px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    left: 0;
}
.botao{
    background-color: rgba(203, 203, 203, 1);
    width: 90%;
    height: 60px;
    margin-left: 20px;
    border-radius: 50px;
    overflow: hidden;
    display: flex;
    justify-content: center;
}
.botao p{
    margin-top: 8px;
    width: 170px;
    height: 53px;
    font-weight: 400;
   font-size: 20px;
    color: 
    rgba(255, 255, 255, 1);
}
.selecionado{
    border-color:rgba(50, 183, 47, 1);
    border-width: 2px;
    border-style: solid;
}
.check{
color:white;
position: absolute;
bottom: 16px;
right: 15px;
font-size: 17px;
}
.selecionado > .check{
    color:rgba(50, 183, 47, 1);
}
.selecionado-botao{
    background-color:rgba(50, 183, 47, 1); 
    width: 90%;
    height: 60px;
    margin-left: 20px;
    border-radius: 50px;
    overflow: hidden;
    display: flex;
    justify-content: center;
}
.selecionado-botao p{
    width: 170px;
    height: 53px;
    font-weight: 400;
   font-size: 25px;
    color: 
    rgba(255, 255, 255, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:0px;
}
}
